<% provide(:title, "Home") %>
<div>
<h1 class="purple">Who are we? </h1>
<br>

<h5 class="homebody"> We are a web payment application designed to democratize financial services for all! With borders being a phenomenon of the past, we 
aim to provide seamless transactions across the globe by making it more convenient to transfer money from one account to another regardless of 
currency descripencies. If you are interested in the folowwing, this is just the right place for you</h5>



<li>Democratizing finance for all</li>
<br>
<li>Leadership opportunities within the tabloid and the surrounding community.</li>
<br>
<li>Strong focus on convenient and transparent transactions</li>
<br>      
<li>Visit our account page to sign-up or log-in</li>
</div>
<br>
<br>
<hr />
<br>
<div class="box1 homebody"> Democratizing Finance </div>  <div class="box2 homebody"> Cross-border paypemnts</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="box1 homebody"> <h2>Transparency</h2></div> <div class="box2 homebody"> Convenience</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr />
<br>
<h2 class="purple homebody">Our Founder</h2>



<br>
<br>
<p class="homebody">Liquidate was created by Syed Mustafa on the 20th of March, 2021. The idea came from the inconvenience he faced with cross-border payments as an international student
during their time at DePauw University in Indiana. Headquartered in San Fransisco, we strive to acheive greatness. If you have any ideas, please do not hesitate to reach out!
</p>

</div>